.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;

    height: 85%;
}

.contato_titulo {
    margin: 20px;
    font-size: 60px;
    font-weight: bold;
}

.contato_texto {
    margin: 20px;
}

.contato_container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contato_label {
    margin: 10px;
}

.contato_input {
    height: 50px;
    width: 400px;
    border-radius: 30px;
    padding: 10px;
    font-size: 30px;
}

.contato_botao {
    height: 50px;
    width: 400px;
    font-size: 30px;

    background: none;
    color: white;

    border: 2px solid white;
    border-radius: 10px;
}

.contato_botao:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.contato_botao:active {
    background: none;
    color: white;
    border: 2px solid white;
}