html {
    background-color: black;
    color: white;
}

* {
        font-family: "Rock Salt", cursive;
        font-weight: 400;
        font-style: normal;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

    font-size: 30px;
}

.cabecalho_titulo {
    display: flex;
    margin-left: 20px;

    align-items: center;

}

.cabecalho_imagem {
    height: 80px;
    width: 80px;

    margin-right: 10px;
    border-radius: 30%;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
}

.menu_botao {
    width: 80px;
    height: 50px;

    background: none;
    color: white;

    margin: 2px;

    border: 2px solid white;
    border-radius: 10px;

    font-size: 16px;
}

.menu_botao:hover {
    background-color: white;
    color: black;
    border: 2px solid #414141;
    cursor: pointer;
}

.menu_botao:active {
    background: none;
}

main {
    background-color: #414141;

    font-size: 24px;
}

.descricao {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.descricao_conteudo {
    width: 700px;

    margin-top: 10px;
    margin-bottom: 30px;
}

.descricao_titulo {
    font-weight: bold;
    margin-top: 10px;
}

.descricao_texto {
    margin-top: 10px;
    text-align: justify;
    text-indent: 10%;
}

.descricao_imagem {
    height: 300px;
    width: 300px;

    border-radius: 30px;
}

.descricao_imagem-queen {
    height: 500px;
    width: 500px;

    border-radius: 30px;
}

.albuns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.albuns_titulo {
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.albuns_conteudo {
    display: flex;
    flex-direction: column;

    position: relative;
    align-items: center;
    text-align: center;
    
    width: 500px;
    margin: 10px;

    justify-content: center;
}

.albuns_conteudo-imagems {
    display: flex;
    position: relative;
}

.albuns_conteudo-imagem {
    height: 150px;
    width: 150px;
    margin: 15px;
}

.albuns_conteudo-imagem-vinil {
    position: absolute;
}

.albuns_musica {
    position: absolute;
    width: 70px; 
    height: 70px;
}

.rodape_conteudo {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;

    margin: 30px;

}

/* reset css //*

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}